<div class="flex h-screen" data-testid="chat-layout">
  <%= render "sidebar", agents: @agents, current_agent: nil %>
  <div class="flex flex-1 items-center justify-center text-gray-400 text-sm">
    Select an agent to start chatting.
  </div>
</div>
