<div class="flex h-screen" data-testid="chat-layout">
  <%= render SidebarComponent.new(current_perspective: perspective_name) %>
  <div class="flex flex-1 items-center justify-center text-gray-400 text-sm">
    Select an agent to start chatting.
  </div>
</div>
