<div class="flex h-screen" data-testid="chat-layout">
  <%= render SidebarComponent.new(current_perspective: perspective_name, current_agent: @agent) %>
  <%= render "chats/dm_view", agent: @agent, chats: @chats, open_chat: nil %>
</div>
